<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xhoxho_Style</title>
    <style>
        table, th, td {border: 1px solid black;}
    </style>
</head>
<body>
<h1>Welcome to Xhoxho_Style</h1>
<h2>This is my website</h2>
<ul>
    <li>Femra</li>
    <li>Meshkuj</li>
<ul>
<table style="width 30%">

</table>

<table style="width:35%">
    <tr>
        <th>Pallto</th>
        <th>Kepuce</th>
        <th>Fustane</th>
        <th>Xhinse</th>
    </tr>
    <tr>
        <td>Xhaketa</td>
        <td>Kambale</td>
        <td>Fund</td>
        <td>Pantallona</td>
    </tr>
    <tr>
        <td>Pardesy</td>
        <td>Atlete sportive</td>
    <td>Minifund</td>
    <td>Mbathje</td>
    <tr>
    <td>Kemisha</td>
      <td>Shapka</td>
    <td>Body</td>
    <td>Terital</td>
</tr>


</table>
</ul>
</body>
</html>